@import 'vars';

@import 'header';
@import 'hero';
@import 'projects';
@import 'project-page';
@import 'contact';
@import 'footer';

html, body {
    width: 100%;
    height: 100vh;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    color: $Black;
}

h1, h2, h3, h4, p, li, span {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: 900;
    letter-spacing: 0.75px;
}

p {
    line-height: 30px;
}

a {
    color: $Black;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1160px;
}

.center-center-aligned{
    display: flex;
    justify-content: center;
    align-items: center;
}